<div class="container text-center mt-5">
  <%#= render 'search_form' %>
  <% unless !@character_comics.present? && @character_comics == false %>
    <% if @character_comics.is_a?(Hash) || @character_comics.is_a?(Array) %>
      <h3><%= @character_name %></h3>
      <div class="comics-grid">
        <% @character_comics.each do |comic| %>
          <div class="comic-item">
            <h3><%= comic['name'] %></h3>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No comics found for <%= @character_name %>.</p>
    <% end %>
  <% else %>
    <% if @comics['data']['results'].any? %>
      <div class="comics-grid">
        <% @comics['data']['results'].each do |comic| %>
          <div class="comic-item">
            <div class="heart-icon">
              <%= image_tag 'heart_empty.png', class: 'heart', data: { comic_id: comic['id'], liked: false } %>
            </div>
            <img src="<%= "#{comic['thumbnail']['path']}.#{comic['thumbnail']['extension']}" %>" alt="<%= comic['title'] %>">
            <div class="comic-title">
              <h3><%= comic['title'] %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No comics found.</p>
    <% end %>
  <% end %>
</div>
